<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Show message</title>
</head>
<body>
<h2><%= data[0].都道府県 %>の詳細</h2>
<table>
<% for( let row of data ) { %>
<tr><td>ID</td><td><%= row.id %></td></tr>
<tr><td>人口</td><td><%= row.人口 %></td></tr>
<tr><td>大学数</td><td><%= row.大学 %></td></tr>
<% } %>
</table>
</body>
</html>
