<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>都道府県ごとの人口</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.都道府県 %></td>
            <td><%= row.人口 %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>