<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/bye">byeへのリンク（app2kadai3.jsを起動してからクリックしてください）</a><br>
  <a href="/public/test.html">test.htmlへのリンク</a><br>
  <a href="/public/input01.html">人口の多い順（少ない順）に都道府県を表示する（app6.jsを起動してからクリックしてください）</a>
</body>
</html>